{% extends 'shopapp/base.html' %}

{% block title %}
    Orders list
{% endblock %}

{% block body %}
    <h1>Orders:</h1>
        <div>
            {% for order in object_list %}
                <div>
                    <p><a href="{% url 'shopapp:orders_details' pk=order.pk %}">
                        Details #{{ order.pk }}
                    </a></p>
                    <p>Order by {% firstof order.user.first_name order.user.username %}</p>
                    <p>Promocode: <code>{{ order.promocode }}</code></p>
                    <p>Delivery address: {{ order.delivery_address }}</p>
                    <div>
                        Products in order:

                        <ul>
                            {% for product in order.products.all %}
                                <li>{{ product.name }} for ${{ product.price }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
  <div>
    <a href="{% url 'shopapp:create_order' %}">
      Create a new order
    </a>
  </div>
{% endblock %}
